body{
    filter: opacity(80%);
    background-image: url("luz.jpg")
}

.link {
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    margin-left: 40px;
    font-size: 20px;
}

.botao{
    color: white;
}

#container {
    padding: 30px;
    margin: 10px;
}

.tudo{
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    margin-top: 300px;
    margin-right: 50px;
}

#titulo {
    text-align: center;
    color: rgb(255, 255, 255);
}

#lista {
    margin-left: 50px;
    padding: 0;
    color: white;
}

#entrada {
    margin-left: 50px;
    color: white;
}

#btnEditar {
    font-size: small;
    vertical-align: text-top;
    cursor: pointer;
}

#lista li{
    padding: 3px;
    font-size: large;
    list-style-type: none;
    margin: -1px 0 0 -1px;
}

#lista li:hover{
    font-weight: bold;
}

#nome {
    margin-top: 1px;
    font-size: larger;
    text-align: center;
    font-weight: bold;
}

#unidade {
    margin-top: 3px;
    font-size: larger;
    text-align: center;
    font-weight: bold;
}

.botao {
    color: black;
}